

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,350;1,350&display=swap');


.backgroundLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Isso garante que a altura ocupe toda a tela */
    background-color: #4c4c4c;
}

.userArea {
    display: flex;
    flex-direction: column;
    align-items: center; /* Isso alinha o conteúdo ao centro horizontalmente */
    font-family: "Raleway", sans-serif;
    font-weight: 350;
    font-style: normal;
}

.label {
    margin-bottom: 0.5em; /* pequeno espaço abaixo dos labels */
}

.infoArea {
    width: 100%; /* Faz o input ocupar toda a largura do container pai */
    max-width: 300px; /* Limita a largura máxima dos inputs (px, tem que rever isso ai) */
    padding: 0.5em;
    margin-bottom: 1em; 
    border: 1px solid rgb(18, 63, 18);
    border-radius: 3px;
    font-weight: 350;
    font-style: normal;
}

.logArea {
    display: flex;
    justify-content: space-around; /* Isso distribui os botões com espaço igual entre eles */
    width: 100%; 
    max-width: 300px; /* Limita a largura máxima dos botões (rever isso caso o cronolog seja mudado para outras telas)*/
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.forgetPassword{
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.btn {
    background-color: green;
    border: 1px, rgb(28, 61, 31);
    border-radius: 8%;
    padding: 0.5rem 1rem; /*isso auiq é dentro do botao*/
    margin: 0.5em; /* isso aqui é fora do btn */
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    
}

.btn:hover {
    cursor: pointer;
}

.logo {
    width: 300px;
    height: 200px;
}


